[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.page-header {
  height: 50px;
  background-color: #EEE;
  margin: 0;
  padding: 0;
  border: none;
}
